<div class="container">
    <div class="top">
        <span>Id</span>
        <span>Name</span>
        <span>Length (m)</span>
        <span>Temperature (C)</span>
        <span>Photo</span>
    </div>
    <ul class="list">
        <li *ngFor="let u of entityList" (click)="onSelect(u)">
            <span>{{u.id}}.</span>
            <span>{{u.name}}.</span>
            <span>{{u.length}}.</span>
            <span>{{u.temperature}}.</span>
            <img src="../assets/{{u.photo}}" alt="" width="200" height="350">
            <!-- <span>{{u.photo}}</span> -->
            <span (click)="deleteEntities(u)" class="delBtn">Delete</span>
        </li>
    </ul>
</div>



<h3 (click)="showAddForm=!showAddForm"><span>Add</span> bagggy</h3>
<form *ngIf="showAddForm" #form1="ngForm" (ngSubmit)="addEntities(form1.value)">
    <input type="hidden" name="id" ngModel="-1">
    <input type="text" name="name" ngModel placeholder="Name"><br><br>
    <input type="number" name="length" ngModel placeholder="Length"><br><br>
    <input type="number" name="temperature" ngModel placeholder="Temperature Rating"><br><br>
    <input type="text" name="photo" ngModel placeholder="Photo"><br><br>
    <input type="submit" value="Add baggy">
</form>

<app-update [entity]="selectedEntity" (updated)="updateEntities()"></app-update>
