<section class="footer">
    <div class="box">
        <h2>Our Footer</h2>
        <p>
            Here are some usefull links for u
        </p>
    </div>
    <div class="box">
        <h2>Support</h2>
        <a href="">Info about baggies</a> 
        <br>
        <a href="">Help</a>
    </div>
    <div class="box">
        <h3>Contact</h3>
        <div class="contact">
            <p>Main st, Kyiv, Ukraine</p>
            <p>(+38)097 895 24 37</p>
            <p>sleepingbags@gmail.com</p>
        </div>
    </div>
</section>
